.chat
    .chat-side
        .chat-user
            %h5
            = current_user.name
            .chat-user__actions
                = link_to new_group_path, class: 'chat-user__action' do
                    %i.fa.fa-pencil-square-o
                = link_to edit_user_registration_path, class: 'chat-user__action' do
                    %i.fa.fa-gear
        .chat-groups
            .chat-group
                .chat-group__name
                    とんかつ
                .chat-group__message
                    肉食べたい
            .chat-group
                .chat-group__name
                    美輪明宏
                .chat-group__message
                    おやすみなさい
    .chat-main
        .chat-header
            .chat-header__left
                %h2 TECH::CAMP
                %p.chat-header__users
                Tao
            .chat-header__right
                %p.chat-header__edit-btn Edit
        .chat-body
            %ul.chat-messages
                %li.class.chat-message
                    %p.chat-message__name
                        tao
                    %p.chat-message__time
                        2017/01/13 06:17:26
                    %p.chat-message__body
                        疲れた
                %li.class.chat-message
                    .chat-message__header
                    %p.chat-message__name
                        石田純一
                    %p.chat-message__time
                        2017/01/13 06:17:26
                    %p.chat-message__body
                        死にたい
        .chat-footer
            .chat-footer__body
                %textarea{:placeholder => "type a message"}
                %label.chat-footer__file
                    %i.fa.fa-image
            %p.chat-footer__send-btn Send
