- groups.each do |group|
  = link_to group_messages_path(group) do
    .chat-groups
      .chat-group
        .chat-group__name
          = group.name
        .chat-group__message
          = group.new_message
